# --- Backend (Python) ---
backend/.env
backend/*.json
backend/__pycache__/
backend/venv/
*.pyc

# --- Frontend (React/Node) ---
frontend/node_modules/
frontend/.env
frontend/.env.local
frontend/dist/

# --- General ---
.DS_Store
.vite/